In [33]:
#import libraries

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import pickle
import sklearn

In [36]:
conda install -c conda-forge scikit-learn=1.0.0

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working...
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

Note: you may need to restart the kernel to use updated packages.

Building graph of deps:   0%|          | 0/5 [00:00<?, ?it/s]
Examining python=3.10:   0%|          | 0/5 [00:00<?, ?it/s]
Examining @/win-64::__win==0=0:  20%|##        | 1/5 [00:01<00:04,  1.20s/it]
Examining @/win-64::__win==0=0:  40%|####      | 2/5 [00:01<00:01,  1.67it/s]
Examining @/win-64::__cuda==12.1=0:  40%|####      | 2/5 [00:01<00:01,  1.67it/s]
Examining scikit-learn=1.0.0:  60%|######    | 3/5 [00:01<00:01,  1.67it/s]
Examining @/win-64::__archspec==1=x86_64:  80%|########  | 4/5 [00:01<00:00,  1.67it/s]
Examining @/win-64::__archspec==1=x86_64: 100%|##########| 5/5 [00:01<00:00,  2.73it/s]


Determining conflicts:   0%|          | 0/5 [00:00<?, ?it/s]
Examining conflict for scikit-learn python:   0%|          | 0/5 [00:00<?, ?it/s]


UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - scikit-learn=1.0.0 -> python[version='>=3.7,<3.8.0a0|>=3.8,<3.9.0a0|>=3.9,<3.10.0a0']

Your python: python=3.10

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.

In [14]:
# folder path
dir_path = r'C:\\USers\\Administrator\\Documents\\GitHub\\Projects\\Hackathon\\data'

# list to store files
res = []

# Iterate directory
for path in os.listdir(dir_path):
    # check if current path is a file
    if os.path.isfile(os.path.join(dir_path, path)):
        res.append(path)
print(res)

['gender_submission.csv', 'test.csv', 'train.csv']

In [15]:
#load train data

train_data = pd.read_csv(r'C:\\USers\\Administrator\\Documents\\GitHub\\Projects\\Hackathon\\data\\train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
test_data = pd.read_csv(r'C:\\USers\\Administrator\\Documents\\GitHub\\Projects\\Hackathon\\data\\test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [37]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
pickle.dump(model, open('model.pkl', 'wb'))

In [44]:
print(X_test.iloc[:1])

   Pclass  SibSp  Parch  Sex_female  Sex_male
0       3      0      0           0         1

In [ ]:
print(output)

In [25]:
from sklearn.svm import SVC

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = SVC(kernel= 'linear', random_state=1, C=0.1)
model.fit(X,y)
predictions = model.predict(X_test)
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

In [26]:
print(output)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [29]:
pickle.dump(model, open('model.pkl', 'wb'))

In [34]:
sklearn.__version__

'1.2.1'